@font-face {
	font-family: 'Bellota';
	font-style: italic;
	font-weight: 400;
	font-display: auto;
	src: url(fonts/Bellota-italic-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Bellota';
	font-style: italic;
	font-weight: 700;
	font-display: auto;
	src: url(fonts/Bellota-italic-700.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Bellota';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url(fonts/Bellota-normal-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Bellota';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url(fonts/Bellota-normal-700.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Bellota Text';
	font-style: italic;
	font-weight: 400;
	font-display: auto;
	src: url(fonts/Bellota_Text-italic-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Bellota Text';
	font-style: italic;
	font-weight: 700;
	font-display: auto;
	src: url(fonts/Bellota_Text-italic-700.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Bellota Text';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url(fonts/Bellota_Text-normal-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Bellota Text';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url(fonts/Bellota_Text-normal-700.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Tomorrow';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url(fonts/Tomorrow-normal-300.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Tomorrow';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url(fonts/Tomorrow-normal-500.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

